@import url(./__close-button/popup__close-button.css);
@import url(./__heading/popup__heading.css);
@import url(./__text-input/popup__text-input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__conainer/popup__conainer.css);

.popup {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: visibility .2s, opacity .2s linear;
}