.profile__proffesion {
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 16px 0 0;
}

@media screen and (max-width: 425px) {
   .profile__proffesion {
       margin-top: 14px;
       font-size: 14px;
       line-height: 17px;
       text-align: center;
   }
}