@import url(./__close-button/form__close-button.css);
@import url(./__heading/form__heading.css);
@import url(./__text-input/form__text-input.css);
@import url(./__save-button/form__save-button.css);

.form {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
}