.profile__avatar {
    width: 127.5px;
    height: 127.5px;
    margin: 40px 0;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.profile__avatar:hover {
    opacity: 0.2;
}

@media screen and (max-width: 520px) {
    .profile__avatar {
        margin: 38.25px 0 26.25px;
    }
}