.profile__edit-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../../../images/profile-edit.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}